* {
    box-sizing: border-box;
        background-color: #282D35;

}

body {
    margin: 0;
}

img {
    margin: 20px;
    margin-right: 7px;
    width: 28.93px;
    height: auto;
}

li {
    margin: 10px;
}

li::marker {
    color: #61DAFB;
}

.nav-bar {
    background-color: #21222A;
    color: #61DAFB;
    display: flex;
    align-items: left;
}

.main-content {
    margin: 27px;
    background-color: #282D35;
    min-height: 100vh;
    color: white;
}